@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #b3ecf8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* מסתיר את פס הגלילה בדפדפן */


body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slideOut {
  animation: slideOut 1.2s ease forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid orange;
  animation:
    typing 3s steps(40, end),
    blink 0.75s step-end infinite;
}

@keyframes typing-loop {
  0%, 10% { width: 0 }
  40%, 60% { width: 100% }
  90%, 100% { width: 0 }
}

@keyframes blink-loop {
  50% { border-color: transparent }
}

.typing-loop-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid orange;
  animation:
    typing-loop 6s steps(40, end) infinite,
    blink-loop 0.75s step-end infinite;
}

